@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2px 0;
  animation: slidein 1s ease;
}

button {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 5px 10px;
  cursor: pointer;
}
