.root {
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.root a {
  color: var(--text-secondary);
  align-items: center;
  margin: 0 3vw;
}

.root h4:hover {
  color: var(--text-secondaryhover);
}
